.nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.green-section {
    background: greenyellow;
    height: 100px;
    position: fixed;
    width: 100%;
}

.select-range {
    width: 200px;
};

label.search {
    width: 100px;
  }
  

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
};

.navbar .dropdown {
    background-color: #3e968a;
}